<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

	{% include meta.html %}
	{% if page.css %}
	<link rel="stylesheet" href="{{ site.github.url }}/{{page.css}}.css">
	{% endif %}
	<link rel="stylesheet" href="{{ site.github.url }}/index.css" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.url }}/feed.xml" />
	<link rel="stylesheet" type="text/css" href="../import/zeroModal.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
			{% include header.html%}
		<div id="main">
			{{content}}
		</div>
	</div>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src='../import/jquery.min.js'></script>
	<script src='../import/zeroModal.min.js'></script>
</body>
</html>